:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

html, body {
  height: auto;
  margin: 0;
  overscroll-behavior: none;
  overflow: overlay;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
}
.about-body {
  background-color: #ffffff;
  min-height: calc(100vh - 207px); 
}
/* 
body::-webkit-scrollbar {
  display: none;
} */

.about-flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #ffffff;
    width: 100%;
  }
.about-flex-container > div {
  width: 50%;
  padding-top: 50px;
  }
  .about-top-text {
    padding-left: 100px;
    padding-bottom: 50px;
  }
.about-bottom-flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
  .about-bottom-flex-container > div {
    padding-top: 50px;
    /* padding: 100px 100px 100px 100px; */
    width: 20%;
    }
.about-details { 
      color: #989898; 
      font-weight:500;
  } 
  .about-top-image { 
    padding-left: 270px;
    position: relative;
}
#about2 {
  background-color: #ff4747 ;
  height: 100%;
  padding: 50px 100px 0px 100px;
  color:#ffffff;
}
.about-lower {
  padding-right: 650px;
}
#img {
  max-width: 200%;
}
img {
  max-width: 50%;
  height: auto;
}
#about-body {
  font-weight: 400;
  padding-right: 30px;
}
#hull {
  padding-top: 10px;
}
#sysco {
  padding-bottom: 5px;
}
#business {
  padding-bottom: 0px;
}
.about-lower-font {
  font-weight: 300;
  font-size: large;
}