:root { font-family: 'Inter', sans-serif; --foreground: #fff; --background: #FF4747; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.footer-container {
  background-color: var(--background);
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 0px 0px 0px;
}

.footer {
  background-color: var(--background);
}

.footer-container > div {
  padding: 0px 0px 0px 0px;
  margin-top: 0;
  padding-bottom: 30px;
  line-height: 0;
  text-align: center;
  opacity: 1;
  max-width: 350px;
  min-width: 350px !important;
}

@media screen and (max-width: 1000px) {
  .footer-container > div {
    display: block;
    font-size: 300% !important;
  }
}

.footer-text {
  color: var(--foreground);
  font-weight: 700;
  text-align: center;
  padding: 0px 0px 0px 0px;
  opacity: .85;
  font-size: 18px;
}

.bar {
  background-color: var(--foreground);
  text-align: center;
  height: 1px;
  padding: 0px 0px 0px 0px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  opacity: .85;
}

.email {
  color: var(--foreground);
  font-weight: 450;
  padding: 24px 0px 0px 0px;
  text-align: center;
  opacity: .85
}

.email a {
  font-size: 15px;
  text-decoration: none;
  color: var(--foreground);
}

.images {
  background-color: var(--background);
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0px 0px 0px 0px;
}

.images > div {
  padding: 11px 10px 0px 10px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0;
  text-align: center;
  opacity: .85;
  transition-duration: 0.4s;
}

.images > div:hover {
  opacity: 1;
}

.facebook-img {
  background: url(Images/facebook.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  animation-duration: 0.3s;
}

.instagram-img {
  background: url(Images/insta.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  animation-duration: 0.3s;
}

.linkedin-img {
  background: url(Images/linkedin.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  animation-duration: 0.3s;
}
