:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

html, body {
  height: 100%;
  margin: 0;
}

.home-container {
  padding-top: 65px; 
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  background-color: #ffffff;
  min-height: calc(100vh - 215px);
}

.home-container > div {
  padding: 60px 80px 0px 0px;
}

.home-text {
    margin-top: 0px;
    margin-right: 0px;
    width: 100%;
}

.home-header {
    font-weight: 700;
}

.home-desc {
    font-weight: 450;
}

.home-image { 
  margin-top: 40px;
  margin-right: 80px;
  margin-left: 80px;
}