:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.navbar {
    padding: 16px 48px;
    overflow: hidden;
    float: right;
    transition-duration: 0.4s;
}

.navbar a.nav {
    float: left;
    display: block;
    margin: 8px 12px;
    padding: 8px 16px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    font-size: 120%;
    font-weight: 600;
    border-radius: 6px;
    transition-duration: 0.4s;
}

#bear {
    float: left;
    padding: 24px;
}

.navbar a.highlight {
    color: #ffffff;
    background-color: #ff6060;
}

.navbar a.nav:hover {
    background-color: #e4e4e4;
}

.highlight:hover {
    background-color: #ff1313 !important;
    color: #ffffff !important;
}

.header {
    margin: 0px;
}

/*Mobileness*/
.menu-icon {
    display: none !important;
    color: #ff6060;
}

/*Mobile query*/
@media screen and (max-width: 800px) {
    .navbar a.nav {
        display: none;
        width: 100%;
        color: #ffffff;
        text-align: center;
        float: none;
        margin: 0;
        font-size: 170%;
        padding: 20px 0;
        border-radius: 0;
    }

    .navbar a.highlight {
        font-weight: 800;
    }

    .navbar a.nav:hover {
        background-color: #ff9a9a !important;
    }

    .menu-icon {
        float: right !important;
        display: inline !important;
    }
    .navbar.open a.nav {
        display: block;
    }
    .navbar.open {
        background-color: #ff6060;
        float: none !important;
        padding: 0;
        margin: 0;
    }

    .navbar.open .menu-icon {
        padding: 10px 48px;
        color: #ffffff;
        position: absolute;
        right: 0;
    }

    .navbar.open #menu-icon {
        color: #ffffff;
    }
    
    #bear.open {
        display: none;
    }
}
