:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

html, body {
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
}

.sponsor-container {
  padding-top: 65px; 
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  background-color: #ffffff;
  min-height: calc(100vh - 217px);
}