:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

html, body {
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
}

.team-container {
  padding-top: 0px; 
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  background-color: #ffffff;
  min-height: calc(100vh - 207px);
}

.top {
  text-align: center;
  margin-left: 225px;
  margin-right: 225px;
}