:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

html, body {
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
}

.team-container {
  padding-top: 0px; 
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  background-color: #ffffff;
  min-height: calc(100vh - 187px);
}

.top {
  text-align: center;
  margin-left: 225px;
  margin-right: 225px;
}
/* First row under board */
.board1 {
  background-color: white;
  border: black;
  width: 80%;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}
.Bcard1{
  color: #BC3434;
  text-align: left;
  line-height: 0px;
  box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  height: 330px;
  overflow: hidden;
}
.Binfo1{
  color: #FF4747;
  padding-left: 10px;
  font-weight: 500;
}
.Bname1{
  padding: 2px 0px 3px 10px;
  font-weight: 600;
}
.Bimage1{
  height: 250px;
  overflow: hidden;
  object-fit: cover;
  object-position: 45% 55%;
  padding-left: 0px;
}

.Bcard2{
  color: #BC3434;
  text-align: left;
  line-height: 0px;
  box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  height: 330px;
  overflow: hidden;
  margin-left: 80px;
}
.Binfo2{
  color: #FF4747;
  padding-left: 10px;
  font-weight: 500;
}
.Bname2{
  padding: 2px 0px 3px 10px;
  font-weight: 600;
}
.Bimage2{
  height: 250px;
  overflow: hidden;
  object-fit: cover;
  object-position: 45% 55%;
  padding-left: 0px;
}

.Bcard3{
  color: #BC3434;
  text-align: left;
  line-height: 0px;
  box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  height: 330px;
  overflow: hidden;
  margin-left: 80px;
}
.Binfo3{
  color: #FF4747;
  padding-left: 10px;
  font-weight: 500;
}
.Bname3{
  padding: 2px 0px 3px 10px;
  font-weight: 600;
}
.Bimage3{
  height: 250px;
  overflow: hidden;
  object-fit: cover;
  object-position: 45% 55%;
  padding-left: 0px;
}

.Bcard4{
  color: #BC3434;
  text-align: left;
  line-height: 0px;
  box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  height: 330px;
  overflow: hidden;
  margin-left: 80px;
}
.Binfo4{
  color: #FF4747;
  padding-left: 10px;
  font-weight: 500;
}
.Bname4{
  padding: 2px 0px 3px 10px;
  font-weight: 600;
}
.Bimage4{
  height: 250px;
  overflow: hidden;
  object-fit: cover;
  object-position: 45% 55%;
  padding-left: 0px;
}

/* Second row under board */
.board2 {
  background-color: white;
  border: black;
  width: 80%;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}
.Bcard5{
  color: #BC3434;
  text-align: left;
  line-height: 0px;
  box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  height: 330px;
  overflow: hidden;
}
.Binfo5{
  color: #FF4747;
  padding-left: 10px;
  font-weight: 500;
}
.Bname5{
  padding: 2px 0px 3px 10px;
  font-weight: 600;
}
.Bimage5{
  height: 250px;
  overflow: hidden;
  object-fit: cover;
  object-position: 45% 55%;
  padding-left: 0px;
}

.Bcard6{
  color: #BC3434;
  text-align: left;
  line-height: 0px;
  box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  height: 330px;
  overflow: hidden;
  margin-left: 80px;
}
.Binfo6{
  color: #FF4747;
  padding-left: 10px;
  font-weight: 500;
}
.Bname6{
  padding: 2px 0px 3px 10px;
  font-weight: 600;
}
.Bimage6{
  height: 250px;
  overflow: hidden;
  object-fit: cover;
  object-position: 45% 55%;
  padding-left: 0px;
}

.Bcard7{
  color: #BC3434;
  text-align: left;
  line-height: 0px;
  box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  height: 330px;
  overflow: hidden;
  margin-left: 80px;
}
.Binfo7{
  color: #FF4747;
  padding-left: 10px;
  font-weight: 500;
}
.Bname7{
  padding: 2px 0px 3px 10px;
  font-weight: 600;
}
.Bimage7{
  height: 250px;
  overflow: hidden;
  object-fit: cover;
  object-position: 45% 55%;
  padding-left: 0px;
}

.Bcard8{
  color: #BC3434;
  text-align: left;
  line-height: 0px;
  box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  height: 330px;
  overflow: hidden;
  margin-left: 80px;
}
.Binfo8{
  color: #FF4747;
  padding-left: 10px;
  font-weight: 500;
}
.Bname8{
  padding: 2px 0px 3px 10px;
  font-weight: 600;
}
.Bimage8{
  height: 250px;
  overflow: hidden;
  object-fit: cover;
  object-position: 45% 55%;
  padding-left: 0px;
}